---
name: Build

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  schedule:
    - cron: "30 5 * * 6"

env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  # Path to the NuGet global-packages folder.
  NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages

  # DOMINO_CACHE_DIRECTORY: ${{ github.workspace }}/.bxlcache

jobs:
  build:
    runs-on: windows-2022

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Checkout microsoft/BuildXL
        uses: actions/checkout@v5
        with:
          repository: microsoft/BuildXL
          path: BuildXL

      - name: Modify cache config
        run: |
          Modify-Config.ps1 BuildXL/BuildCacheOverride.json
        shell: pwsh

      - name: Create USN journal
        run: |
          fsutil usn createjournal m=0x20000000 a=0x8000000 D:

      # - name: Cache BuildXL
      #   uses: actions/cache@v4
      #   with:
      #     key: ${{ runner.os }}-buildxl-release-${{ hashFiles('**/*.dsc') }}
      #     path: ${{ env.DOMINO_CACHE_DIRECTORY }}
      #     # path: BuildXL/Out/Cache
      #     restore-keys: |
      #       ${{ runner.os }}-buildxl-release-
      #       ${{ runner.os }}-buildxl-

      - name: Restore cache
        run: |
          New-Item -Path BuildXL/Out/Cache -ItemType Directory -Force | Out-Null
          cd BuildXL/Out/Cache
          $Runs = gh run list --repo "${{ github.repository }}" --workflow build --branch main --status success --json number,databaseId,startedAt |
              ConvertFrom-Json
          $Runs | Format-Table
          if ($Runs.Count -gt 0) {
              Write-Output "Downloading from $($Runs[0].databaseId)"
              gh run download $Runs[0].databaseId --repo "${{ github.repository }}" --name cache
          }
        continue-on-error: true
        shell: pwsh

      - name: Find MSVC version
        run: |
          ./Find-MsvcVersion.ps1
        shell: pwsh

      - name: Run bxl.cmd
        run: |
          ./bxl.cmd -deployconfig Release -deploydev
        working-directory: BuildXL
        shell: pwsh

      - name: Upload output
        uses: actions/upload-artifact@v4
        with:
          name: selfhost
          path: BuildXL/Out/Selfhost/Dev/
          compression-level: 9

      - name: Upload cache
        if: ${{ github.ref == 'refs/heads/main' }}
        uses: actions/upload-artifact@v4
        with:
          name: cache
          path: |
            BuildXL/Out/Cache/
            !BuildXL/Out/Cache/**/LOG.old.*
          compression-level: 9

